@model SISv2.Models.Invoice

@*@{
    ViewBag.Title = "Details";
}*@

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref)
        </dd>

        @foreach(var i in Model.Amount)
        {
                <dt>
                @Html.DisplayNameFor(modelItem => i.Description)
                </dt>
                
                <dd>
                @Html.DisplayFor(modelItem => i.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(modelItem => i.Amt)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => i.Amt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(modelItem => i.GSTAmt)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => i.GSTAmt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(modelItem => i.Total)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => i.Total)
                </dd>

                <dt>
                    @Html.DisplayNameFor(modelItem => i.FinalTotal)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => i.FinalTotal)
                </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.Color, htmlAttributes: new { @class = "col-md-20", @type ="color"})
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.cd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.st)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.st)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary"})
</p>
