@model SIS.Models.Course


<br />

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


    </dl>

    <table class="table">
        <tr>
            <th>
                Module Code
            </th>
            <th>
                Module Name
            </th>
        </tr>

        @foreach (var item in Model.Course_Module)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Module.Name)
                </td>

            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>