@model SISv2.Models.Intake

@{
    ViewBag.Title = "Details";
}

<br />

<div>
    <h4>Intake</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month.Month1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month.Month1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year.Year1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year.Year1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
