@model IEnumerable<SISv2.Models.ClassStudent>

@{
    ViewBag.Title = "Check Attendance Choices";
}

<h2>Check Attendance Choices</h2>

<br>

<table class="table">
    <tr>
        <th>
            <bold>Selection</bold>
        </th>

    </tr>
    @if (Model.ElementAtOrDefault(0).Status == false)
    {

    }
    else
    {
    <tr>
        <td>
            @Html.ActionLink("Mark Attendance (Today)", "MarkAttendance", new { id = Url.RequestContext.RouteData.Values["id"], id2 = Model.ElementAtOrDefault(0).Status, id3 = Model.ElementAtOrDefault(0).CreateDate },new { @class = "alert" })
        </td>
    </tr>
    }
    <tr>
        <td>
            &nbsp; &nbsp; &nbsp; @Html.ActionLink("Edit / Mark Back Attendance", "ChooseDate", new { id = Url.RequestContext.RouteData.Values["id"], id2 = Model.ElementAtOrDefault(0).Status, id3 = Model.ElementAtOrDefault(0).CreateDate })
        </td>
    </tr>

    <tr>
        <td>
            &nbsp; &nbsp; &nbsp;  @Html.ActionLink("Delete Attendance", "ChooseDateDelete", new { id = Url.RequestContext.RouteData.Values["id"], id2 = Model.ElementAtOrDefault(0).Status, id3 = Model.ElementAtOrDefault(0).CreateDate })
        </td>
    </tr>

 

    <tr>
        <td>
            &nbsp; &nbsp; &nbsp;  @Html.ActionLink("Check Individual Attendance (By Name)", "CheckIndividual", new { id = Url.RequestContext.RouteData.Values["id"], id2 = Model.ElementAtOrDefault(0).Status, id3 = Model.ElementAtOrDefault(0).CreateDate })
        </td>
    </tr>


    <tr>
        <td>
            &nbsp; &nbsp; &nbsp;  @Html.ActionLink("Check All Attendance", "CheckAttendance", new { id = Url.RequestContext.RouteData.Values["id"], id2 = Model.ElementAtOrDefault(0).Status, id3 = Model.ElementAtOrDefault(0).CreateDate })
        </td>
    </tr>

    <tr>
        <td>
            @Html.ActionLink("Back", "ClassAvailable", null, new { @class = "btn btn-primary" })
        </td>
    </tr>

</table>
@section Scripts {
    <script>
    $(document).on("click", ".alert", function (e) {
        var link = $(this).attr("href");
        e.preventDefault();
        bootbox.confirm("Are you sure mark this class attendance ?", function (result) {
            if (result) {
                document.location.href = link;
            }
        });
    });
    </script>

}
 @*new { onclick = "return confirm('Are you sure mark this class attendance ?');" }*@