@model IEnumerable<SISv2.Models.Attendance>

@{
    ViewBag.Title = "Edit Attendance (" + ViewBag.ReturnDate + ")";
}

<h2>Edit Attendance (@ViewBag.ReturnDate)</h2>

<script type="text/javascript" src="@Url.Content("~/Scripts/")jquery-1.10.2.js"></script>
<script type="text/javascript">

    function CheckMIN() {
        var checkBoxMI = $('#MI');
        if (checkBoxMI.is(':checked')) {
            $(".MorningInInput").attr('value', '09:30:00');
        }
        else {
            $(".MorningInInput").attr('value', '');
        }
    }

    function CheckMOUT() {
        var checkBoxMI = $('#MO');
        if (checkBoxMI.is(':checked')) {
            $(".MorningOutInput").attr('value', '12:15:00');
        }
        else {
            $(".MorningOutInput").attr('value', '');
        }
    }

    function CheckAIN() {
        var checkBoxMI = $('#AI');
        if (checkBoxMI.is(':checked')) {
            $(".AfternoonInInput").attr('value', '13:15:00');
        }
        else {
            $(".AfternoonInInput").attr('value', '');
        }

    }

    function CheckAOUT() {
        var checkBoxMI = $('#AO');
        if (checkBoxMI.is(':checked')) {
            $(".AfternoonOutInput").attr('value', '16:00:00');
        }
        else {
            $(".AfternoonOutInput").attr('value', '');
        }
    }

    function Ontime() {
        $('.status1 input:checkbox').click(function () {
            $('.status1 input:checkbox').not(this).prop('checked', false),
            $('.Status').attr('value', this.value)

        });
    }

</script>


@using (Html.BeginForm("EditDate", "Attendances", FormMethod.Post))
{
    <table class="table">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.ClassStudent.Id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ClassStudent.StudentId)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassStudent.Student.Name)

            </th>
            <th>
                <input type="checkbox" onclick="CheckMIN()" id="MI"> &nbsp; @Html.DisplayNameFor(model => model.MorningIn)
            </th>
            <th>
                <input type="checkbox" onclick="CheckMOUT()" id="MO"> &nbsp; @Html.DisplayNameFor(model => model.MorningOut)
            </th>
            <th>
                <input type="checkbox" onclick="CheckAIN()" id="AI"> &nbsp; @Html.DisplayNameFor(model => model.AfternoonIn)
            </th>
            <th>
                <input type="checkbox" onclick="CheckAOUT()" id="AO"> &nbsp; @Html.DisplayNameFor(model => model.AfternoonOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AStatus)
            </th>
            @*<th class="status1">
                <input type="checkbox" onclick="Ontime()" id="OnTime" value="Ontime"> <label>OnTime</label> &nbsp;&nbsp;
                <input type="checkbox" onclick="Ontime()" id="Late" value="Late"> <label>Late</label> &nbsp;&nbsp;
                <input type="checkbox" onclick="Ontime()" id="Absent" value="Absent"><label>Absent</label>
            </th>*@
        </tr>



        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ClassStudent.ClassStudentId)

                    </td>*@
                @*<td>
                        @Html.DisplayFor(x => x.ElementAt(i).ClassStudentId)
                    </td>*@

                <td>
                    @Html.DisplayFor(x => x.ElementAt(i).ClassStudent.Student.StudentId)
                </td>

                <td>
                    @Html.DisplayFor(x => x.ElementAt(i).ClassStudent.Student.Name)
                </td>

                <td>                    
                    @Html.Hidden("att[" + (@i) + "].Id", Model.ElementAtOrDefault(i).Id)
                    @Html.Hidden("att[" + (@i) + "].ClassStudentID", Model.ElementAtOrDefault(i).ClassStudentId)
                    @Html.Hidden("att[" + (@i) + "].TodayDate", Model.ElementAtOrDefault(i).TodayDate)
                  @*  @Html.Hidden("att[" + (@i) + "].MStatus", Model.ElementAtOrDefault(i).MStatus)*@
                  @*  @Html.Hidden("att[" + (@i) + "].AStatus", Model.ElementAtOrDefault(i).AStatus)*@
                    
                    @Html.TextBox("att[" + (@i) + "].MorningIn", Model.ElementAtOrDefault(i).MorningIn, new { @class = "MorningInInput", @type = "time" })
                </td>

                <td>
                    @Html.TextBox("att[" + (@i) + "].MorningOut", Model.ElementAtOrDefault(i).MorningOut, new { @class = "MorningOutInput", @type = "time" })
                </td>


                <td>
                    @Html.TextBox("att[" + (@i) + "].AfternoonIn", Model.ElementAtOrDefault(i).AfternoonIn, new { @class = "AfternoonInInput", @type = "time" })
                </td>

                <td>
                    @Html.TextBox("att[" + (@i) + "].AfternoonOut", Model.ElementAtOrDefault(i).AfternoonOut, new { @class = "AfternoonOutInput", @type = "time" })
                </td>
                <td>
                    @Html.TextBox("att[" + (@i) + "].MStatus", Model.ElementAtOrDefault(i).MStatus, new { @class = "Status", @readonly = "readonly" })
                </td>
                <td>
                    @Html.TextBox("att[" + (@i) + "].AStatus", Model.ElementAtOrDefault(i).AStatus, new { @class = "Status", @readonly = "readonly" })
                </td>





                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </td>*@
            </tr>
        }

    </table>

    <input type="submit" value="Submit" class="btn btn-primary" />
    @Html.ActionLink("Back to home", "ClassAvailable")











}
