@model IEnumerable<SISv2.Models.Attendance>

@{
    ViewBag.Title = "Attendance";
}

<h2>Mark Back Attendance</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<link href="~/Content/themes/base/all.css" rel="stylesheet" />

<script type="text/javascript">

    function CheckMIN()
    {


        var checkBoxMI = $('#MI');
                if (checkBoxMI.is(':checked')) {
                    $(".MorningInInput").attr('value', '09:30:00');
                }
                else {
                    $(".MorningInInput").attr('value', '');
                }           

    }

    function CheckMOUT()
    {    
            var checkBoxMI = $('#MO');        
                if (checkBoxMI.is(':checked')) {
                    $(".MorningOutInput").attr('value', '12:15:00');
                }
                else {
                    $(".MorningOutInput").attr('value', '');
                }
    }

    function CheckAIN() {
        var checkBoxMI = $('#AI');
                if (checkBoxMI.is(':checked')) {
                    $(".AfternoonInInput").attr('value', '13:15:00');
                }
                else {
                    $(".AfternoonInInput").attr('value', '');
                }
    }

    function CheckAOUT() {
        var checkBoxMI = $('#AO');
                if (checkBoxMI.is(':checked')) {
                    $(".AfternoonOutInput").attr('value', '16:00:00');
                }
                else {
                    $(".AfternoonOutInput").attr('value', '');
                }
    }



    function Ontime()
    {
        $('.status1 input:checkbox').click(function () {
            $('.status1 input:checkbox').not(this).prop('checked', false),
            $('.Status').attr('value', this.value)

        });
    }



</script>

@using (Html.BeginForm("MarkBack", "Attendances", FormMethod.Post))
{
    <label>
        Mark Back Date:@Html.TextBox("att[0].TodayDate", (Model.ElementAtOrDefault(0).TodayDate.HasValue ? Model.ElementAtOrDefault(0).TodayDate.Value.ToString("d MMMM yyyy") : string.Empty),
    new { @class = "date form-control" })
    </label>
    <br>
    <br>



    <table class="table">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.ClassStudent.Id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ClassStudent.Student.StudentId)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassStudent.Student.Name)

            </th>
            <th>
                <input type="checkbox" onclick="CheckMIN()" id="MI"> &nbsp; @Html.DisplayNameFor(model => model.MorningIn)
            </th>
            <th>
                <input type="checkbox" onclick="CheckMOUT()" id="MO"> &nbsp; @Html.DisplayNameFor(model => model.MorningOut)
            </th>
            <th>
                <input type="checkbox" onclick="CheckAIN()" id="AI"> &nbsp; @Html.DisplayNameFor(model => model.AfternoonIn)
            </th>
            <th>
                <input type="checkbox" onclick="CheckAOUT()" id="AO"> &nbsp; @Html.DisplayNameFor(model => model.AfternoonOut)
            </th>
            @*<th class="status1">
                @Html.DisplayNameFor(model => model.Status)<br>
                <input type="checkbox" onclick="Ontime()" id="OnTime" value="Ontime"> <label>O</label> &nbsp;&nbsp;
                <input type="checkbox" onclick="Ontime()" id="Late" value="Late"> <label>L</label> &nbsp;&nbsp;
                <input type="checkbox" onclick="Ontime()" id="Absent" value="Absent"><label>A</label>
            </th>*@
        </tr>



        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ClassStudent.ClassStudentId)

                    </td>*@
                @*<td>
                        @Html.DisplayFor(x => x.ElementAt(i).ClassStudentId)
                    </td>*@

                <td>
                    @Html.DisplayFor(x => x.ElementAt(i).ClassStudent.Student.StudentId)
                </td>

                <td>
                    @Html.DisplayFor(x => x.ElementAt(i).ClassStudent.Student.Name)
                </td>

                <td>
                    @Html.Hidden("att[" + (@i) + "].Id", Model.ElementAtOrDefault(i).Id)
                    @Html.Hidden("att[" + (@i) + "].ClassStudentID", Model.ElementAtOrDefault(i).ClassStudentId)



                    @Html.TextBox("att[" + (@i) + "].MorningIn", Model.ElementAtOrDefault(i).MorningIn, new { @class = "MorningInInput", @type = "time" })
                </td>

                <td>
                    @Html.TextBox("att[" + (@i) + "].MorningOut", Model.ElementAtOrDefault(i).MorningOut, new { @class = "MorningOutInput", @type = "time" })
                </td>
                <td>
                    @Html.TextBox("att[" + (@i) + "].AfternoonIn", Model.ElementAtOrDefault(i).AfternoonIn, new { @class = "AfternoonInInput", @type = "time" })
                </td>
                <td>
                    @Html.TextBox("att[" + (@i) + "].AfternoonOut", Model.ElementAtOrDefault(i).AfternoonOut, new { @class = "AfternoonOutInput", @type = "time" })
                </td>
                @*<td>
                    @Html.TextBox("att[" + (@i) + "].Status", Model.ElementAtOrDefault(i).Status, new { @class = "Status" })
                </td>*@






                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </td>*@
            </tr>
        }

    </table>

    <input type="submit" value="Submit" class="btn btn-primary" />
   
}
@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('.date').datepicker({ dateFormat: "d MM yy" })
    });
</script>
}

