@model SISv2.Models.CourseWork

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CourseWork</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.st)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.st)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassStudent.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassStudent.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course_Module.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_Module.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleStandard.LabName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleStandard.LabName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestType.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
