@model List<SISv2.Models.ModuleStandard>


@{
    ViewBag.Title = "ModelStandard";
}

<h2>@ViewData["name"]</h2>
@using (Html.BeginForm("Add", "ModuleStandard", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div><a href="#" id="addNew">Add New</a></div>
    <table id="dataTable" class="table">
        <tr>
            <th>
                Mark Type
            </th>
            <th>
                Add Lab Name
            </th>
            <th>
            </th>
            <th>
                Mark
            </th>
            <th></th>
        </tr>
                @if (Model != null && Model.Count > 0)
                {
                    int j = 0;
                    <tr class="abc">
                        @Html.HiddenFor(a => a[j].Course_ModuleId, new { @class = "form-control" })
                        <td>
                            @Html.DropDownListFor(a => a[j].MarkTypeId, (SelectList)ViewBag.MarkTypeId, "Select MarkType", new { @class = "form-control" })
                        </td>
                        <td>
                            <input type="checkbox" id="chck" name="[0].Check" onclick="clickt(this)" class="checkbox" />
                        </td>
                        <td>
                            @Html.TextBoxFor(a => a[j].LabName, new { @class = "form-control", style = "display:none", placeholder = "Lab Name" })
                        </td>
                        <td>
                            @Html.TextBoxFor(a => a[j].Marks, new { @class = "form-control" })
                        </td>
                        <td>
                            @if (j > 0)
                            {
                                <a href="#" class="remove">Remove</a>
                            }
                        </td>
                    </tr>
                    j++;
                }
    </table>
    <input type="submit" value="save" />
    @Html.ActionLink("Back", "ShowStandard");


}

@if (ViewBag.alert != null)
{
    <script>
            alert('@ViewBag.alert');
    </script>
}

@section Scripts {
    @Scripts.Render("~/Content/plugins/jquery-validate/js")
    <script>
        $(document).ready(function () {
            $("#addNew").click(function (e) {
                e.preventDefault();


                var $tableBody = $("#dataTable");
                var $trLast = $tableBody.find("tr:last");
                var $trNew = $trLast.clone();


                // clear value in checkbox and textbox
                $trNew[0].children[2].children[0].checked = false;
                $trNew[0].children[3].children[0].style.display = 'none';
                $trNew[0].children[3].children[0].value = "";
                $trNew[0].children[4].children[0].value = "";


                var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
                $trNew.find("td:last").html('<a href="#" class="remove" onclick="removet(this)">Remove</a>');
                $.each($trNew.find(':input'), function (i, val) {
                    // Replaced Name

                    var oldN = $(this).attr('name');
                    var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                    $(this).attr('name', newN);

                });

                $trLast.after($trNew);

            });

        });

        //remove
        function removet(t)
        {
            $(t).parent().parent().remove();
            _update();
        };

        // Show/Hide LabName
        function clickt(t)
        {
            var numk = t.name.match(/\d+/);
            if ($(t).prop('checked') == true) {
                $("input[name='[" + numk + "].LabName']").show();
            }
            else {
                $("input[name='[" + numk + "].LabName']").hide();
            }

        };

        // Update name
        function _update()
        {
            var standard = $(".abc");
            var l = standard.length;
            var k = 0

            standard.each(function (){
                if (l > 0 && k <= l) {
                    this.firstElementChild.name = "[" + k + "].Course_ModuleId";
                    this.children[1].children[0].name = "[" + k + "].MarkTypeId";
                    this.children[2].children[0].name = "[" + k + "].Check";
                    this.children[3].children[0].name = "[" + k + "].LabName";
                    this.children[4].children[0].name = "[" + k + "].Marks";
                    k++;
                }
            })
        }
    </script>
}


